//custom variables

// colors
$primary: #e53935;
$danger: #b42f2c;
$success: #1377c5;
$info: #f8f8f8;
$dark: #3c3c3c;

//position
$position-values: (
  0: 0,
  10: 10%,
  15: 15%,
  20: 20%,
  30: 30%,
  50: 50%,
  100: 100%,
);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
